form{
    background-color: gray;
    width: 30%;
    height: 50vh;
    margin: auto;
    margin-top: 5rem;
    text-align: center
}

div{
    padding: 20px;
    margin: auto;
}

label {
    display: block;
}

input{
    padding: 8px;
    border: none;
}
button {
    margin-top: 3rem;
    width: 30%;
}
